<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <listener
            class="org.eclipse.tracecompass.internal.analysis.callstack.ui.CallStackAnalysisListener">
      </listener>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            allowMultiple="true"
            class="org.eclipse.tracecompass.internal.analysis.callstack.ui.FlameChartView"
            icon="icons/obj16/stckframe_obj.gif"
            id="org.eclipse.tracecompass.analysis.callstack.ui.flamechart"
            name="%view.flameChart"
            restorable="true">
      </view>
      <view
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.callstack.ui.flamegraph.FlameGraphView"
            icon="icons/elcl16/flame.png"
            id="org.eclipse.tracecompass.analysis.callstack.ui.flamegraph"
            name="%view.flameGraph"
            restorable="true">
      </view>
      <view
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.callstack.ui.flamegraph.FlameGraphSelView"
            icon="icons/elcl16/flame.png"
            id="org.eclipse.tracecompass.analysis.callstack.ui.flamegraph.selection"
            name="%view.flameGraphSel"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.callstack.ui.functiondensity.FunctionDensityView"
            icon="icons/elcl16/funcdensity.png"
            id="org.eclipse.tracecompass.analysis.callstack.ui.functiondensity"
            name="%view.functionDensity"
            restorable="true">
      </view>
      <view
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            allowMultiple="true"
            class="org.eclipse.tracecompass.internal.analysis.callstack.ui.weightedtree.WeightedTreeView"
            icon="icons/obj16/stckframe_obj.gif"
            id="org.eclipse.tracecompass.analysis.callstack.ui.weightedtree"
            name="%view.weighted"
            restorable="true">
      </view>
   </extension>
</plugin>
