<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <listener
            class="org.eclipse.tracecompass.internal.analysis.callstack.core.model.ModelListener">
      </listener>
      <module
            analysis_module="org.eclipse.tracecompass.internal.analysis.callstack.core.LttngUstCallStackAnalysis"
            id="org.eclipse.tracecompass.analysis.callstack.core.analysis"
            name="%analysis.callstack">
         <tracetype
               class="org.eclipse.tracecompass.lttng2.ust.core.trace.LttngUstTrace">
         </tracetype>
      </module>
   </extension>
   <extension
         point="org.eclipse.tracecompass.tmf.core.dataprovider">
      <dataProviderFactory
            class="org.eclipse.tracecompass.internal.analysis.callstack.core.flamegraph.FlameGraphDataProviderFactory"
            id="org.eclipse.tracecompass.analysis.callstack.core.flamegraph">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.internal.analysis.callstack.core.instrumented.FlameChartDataProviderFactory"
            id="org.eclipse.tracecompass.analysis.callstack.core.flamechart">
      </dataProviderFactory>
   </extension>
</plugin>
