name: Continuous Integration (base)

on:
  workflow_call:
    maven-opts:
      description: maven opts to use, defaults to empty string
      required: false
      default: ''
      type: string
    maven-goals:
        description: maven goals to use, defaults to 'clean verify'
        required: false
        default: 'clean install'
        type: string
jobs:
  build:

    runs-on: ubuntu-22.04
    timeout-minutes: 90

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Set up Maven
      uses: stCarolas/setup-maven@07fbbe97d97ef44336b7382563d66743297e442f # v4.5
      with:
        maven-version: 3.9.5
    - name: Build with Maven
      uses: coactions/setup-xvfb@b6b4fcfb9f5a895edadc3bc76318fae0ac17c8b3 # v1.0.1
      with:
       run: >- 
        mvn -B -Pctf-grammar -Pbuild-rcp ${{ inputs.maven-opts }}
        -Djdk.version=17 
        -Djdk.release=17
        ${{ inputs.maven-goals }}
    - name: Upload logs
      uses: actions/upload-artifact@v3
      if: success() || failure()
      with:
        name: build logs
        path: |
          */*tests/screenshots/*.jpeg
          */*tests/target/work/data/.metadata/.log
    - name: Upload test results
      uses: actions/upload-artifact@v3
      if: success() || failure()
      with:
        name: test results
        path: |
          */*/target/surefire-reports/*.xml
